<section class="header" [style.background-image]="isHome ? 'linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),url(../../assets/images/cover1.jpg)' : 'linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),url(../../assets/images/cover2.jpg)'"
[style.min-height]="isHome ? '100vh' : '60vh'">
  <nav>
    <a href="#"><img src="assets/images/logo.png" alt="logo"></a>
    <div class="nav-links" id="nav-links" #navLinks>
      <fa-icon [icon]="faXmark"
               (click)="onHideMenu()"
      >
      </fa-icon>
      <ul>
        <li><a href="#" routerLink="/">{{'header-nav-home' | translate }}</a></li>
        <li><a href="#" routerLink="/about">{{'header-nav-about' | translate }}</a></li>
        <li><a href="#" routerLink="/education">{{'header-nav-education' | translate }}</a></li>
        <li><a href="#" routerLink="/contactus">{{'header-nav-contact-us' | translate }}</a></li>
        <select (change)="changeLang($event)">
          <option value="en" [selected]="lang == 'en'">English</option>
          <option value="ru" [selected]="lang == 'ru'">Русский</option>
          <option value="kg" [selected]="lang == 'kg'">Кыгызча</option>
        </select>
      </ul>
    </div>
    <fa-icon [icon]="faBars"
             (click)="onShowMenu()"></fa-icon>
  </nav>

  <div class="text-box">
    <h1>{{ 'title' | translate }}</h1>
    <p [style.display]="isHome ? 'block' : 'none'">{{ 'header-subtitle' | translate }}</p>
    <a href="#"
       class="hero-btn"
       routerLink="/about"
       [style.display]="isHome ? 'inline-block' : 'none'">{{ 'header-button' | translate}}</a>
  </div>
</section>
