<section class="footer">
  <h4>{{ 'footer-title' | translate }}</h4>
  <p>{{ 'footer-subtitle-line1' | translate }}<br>
    {{ 'footer-subtitle-line2' | translate }}
  </p>
  <div class="icons">
    <a href="https://www.facebook.com/ziyashbektenovgirlshighschool" target="_blank"><fa-icon [icon]="faFacebook"></fa-icon></a>
    <fa-icon [icon]="faHeart"></fa-icon>
    <a href="https://instagram.com/sapat.choktal?igshid=YzAyZWRlMzg=" target="_blank"><fa-icon [icon]="faInstagram"></fa-icon></a>
  </div>
  <p>{{ 'footer-copyright' | translate }}</p>
</section>
