<section class="courses" >
  <h1 [style.display]="isHome ? 'inline-block' : 'none'">{{ 'courses-title' | translate }}</h1>
  <p>{{ 'courses-subtitle' | translate}}</p>

  <div class="row">
    <div class="course-col">
      <h3>{{ 'courses-multilingualism-title' | translate }}</h3>
      <p>{{ 'courses-multilingualism-text' | translate }}
      </p>
    </div>
    <div class="course-col">
      <h3>{{ 'courses-profile-title' | translate }}</h3>
      <p>{{ 'courses-profile-text' | translate }}
      </p>
    </div>
    <div class="course-col">
      <h3>{{ 'courses-higher-outcomes-title' | translate }}</h3>
      <p>{{ 'courses-higher-outcome-text' | translate }}
      </p>
    </div>
  </div>
</section>
