<section class="courses">
  <h1>Education</h1>
  <p>Ziiash Bektenov Girls High-School is a special place in which each and every child is provided with a first-class education, incredible opportunities and experiences. <br>
    We make learning memorable, every single day.
  </p>

  <div class="row">
    <div class="course-col">
      <h3>Multilingualism</h3>
      <p>Our school offers education in 4 languages, including mother-tongue Kyrgyz, Russian, English, and Turkish languages. All science subjects including Biology, Chemistry, and Physics taught in English, hence our students can freely speak in the most demanding language in the world.
      </p>
    </div>
    <div class="course-col">
      <h3>Profile Studying</h3>
      <p>We recognize that our students are now young adults and future leaders. That’s why in addition to special subjects helping with a future career, we let our senior students (years 9-12) choose profile education regarding their interests and future professions. We have Medicine, Engineering, and Social science profiles.
      </p>
    </div>
    <div class="course-col">
      <h3>Achieving Higher Learning Outcomes </h3>
      <p>The main goal of our lyceum and teachers is to give our girls the best education further after school. Most of our graduates apply to universities abroad and get accepted to the top universities all around the world. Every student takes responsibility for their future and use time effectively.</p>
    </div>
  </div>
</section>
