<section class="courses" >
  <h1>Education</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. tempore temporibus ullam ut.
    <br>Ad beatae maxime repellendus.</p>

  <div class="row">
    <div class="course-col">
      <h3>Multilingualism</h3>
      <p>Our school is committed to providing a global, holistic education and this includes the study of four languages:
        English, Kyrgyz, Russian, and Turkish. The first academic year our students fully emerged into studying English
        and Turkish languages. Starting from their second academic year, all subjects including Biology, Chemistry, and
        Physics taught in English.
      </p>
    </div>
    <div class="course-col">
      <h3>Profile Courses</h3>
      <p>We recognize the uniqueness of each student, therefore in the third academic year and following we provide our
        students freedom to choose a profile education in regards to their interests and future career plans.
        Our education profiles are Medicine, Engineering, and Social Sciences.
      </p>
    </div>
    <div class="course-col">
      <h3>Higher Learning Outcomes</h3>
      <p>One of the main goals of our school is to equip our students with the on-demand knowledge and skills that would
        empower them for furthering their studies in the leading higher educational institutions around the world.Around
        40% of our graduates are now studying or are employed abroad and more than 80% of recent graduates are pursuing
        their bachelor’s programs on a full or partial scholarships.
      </p>
    </div>
  </div>
</section>
