<section class="facilities">
  <h1>Our Facilities</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. tempore temporibus ullam ut.</p>

  <div class="row">
    <div class="facilities-col">
      <img src="assets/eduford_img/library.png" alt="library">
      <h3>World Class Library</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. tempore temporibus ullam ut</p>
    </div>
    <div class="facilities-col">
      <img src="assets/eduford_img/basketball.png" alt="library">
      <h3>Largest Playground</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. tempore temporibus ullam ut</p>
    </div>
    <div class="facilities-col">
      <img src="assets/eduford_img/cafeteria.png" alt="library">
      <h3>Tasty and Healthy food</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. tempore temporibus ullam ut</p>
    </div>
  </div>
</section>
