.facilities {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 60px;

}
.facilities-col {
  flex-basis: 32%;
  /*margin-bottom: 5%;*/
  border-radius: 10px;
  text-align: left;
}

.facilities-col img {
  width: 100%;
  border-radius: 10px;
}

.facilities-col p{
  padding: 0;
}

.facilities-col col {
  margin-top: 16px;
  margin-bottom: 15px;
  text-align: left;
}

