<section class="facilities">
  <h1>{{ 'student-life-title' | translate }}</h1>
  <p>{{ 'student-life-subtitle' | translate }}
  </p>
  <div class="row">
    <div class="facilities-col">
      <img src="../../../assets/images/studentlife5.jpg" alt="stem">
      <h3>{{ 'student-life-stem-title' | translate }}</h3>
      <p>{{ 'student-life-stem-text' | translate }}
      </p>
    </div>
    <div class="facilities-col">
      <img src="../../../assets/images/student-life-sports.jpg" alt="physical-activities">
      <h3>{{ 'student-life-phys-act-title' | translate }}</h3>
      <p>{{ 'student-life-phys-act-text' | translate }}</p>
    </div>
    <div class="facilities-col">
      <img src="../../../assets/images/studentlife-music-arts.jpg" alt="music-arts">
      <h3>{{ 'student-life-music-arts-title' | translate }}</h3>
      <p>{{ 'student-life-music-arts-text' | translate }}</p>
    </div>
  </div>
</section>
