<section class="facilities">
  <h1>Students Life</h1>
  <p>Our school offers out-of-timetable sessions that enrich and broaden the curriculum.<br>
    They include STEM Clubs, Sports, and Arts.
  </p>

  <div class="row">
    <div class="facilities-col">
      <img src="../../../assets/images/studentlife5.jpg" alt="stem">
      <h3>STEM Clubs</h3>
      <p>The STEM Club welcomes all WCC students interested in fields of science, technology,
        engineering and math in less formal settings.
      </p>
    </div>
    <div class="facilities-col">
      <img src="../../../assets/images/student-life-sports.jpg" alt="physical-activities">
      <h3>Physical Activities</h3>
      <p>Our school has to offer sport activities on our well-equipped tennis, volleyball, football,
        and basketball playing grounds.</p>
    </div>
    <div class="facilities-col">
      <img src="../../../assets/images/studentlife-music-arts.jpg" alt="music-arts">
      <h3>Music and Arts</h3>
      <p>Our students are exposed to musical education as well as to creative arts. Students engage in piano, komuz, vocal singing classes
        and take part in art exhibitions.</p>
    </div>
  </div>
</section>
