<section class="facilities">
  <h1>Students Life</h1>
  <p>Life in lyceum is busy, girls have all the opportunities to develop their hobbies and spend time with fun and productivity.<br>
    We encourage excellence in music, dance, sports and etc.
  </p>

  <div class="row">
    <div class="facilities-col">
      <img src="../../../assets/images/studentlife5.jpg" alt="stem">
      <h3>STEM Clubs</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. tempore temporibus ullam ut</p>
    </div>
    <div class="facilities-col">
      <img src="../../../assets/images/student-life-sports.jpg" alt="physical-activities">
      <h3>Physical Activities</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. tempore temporibus ullam ut</p>
    </div>
    <div class="facilities-col">
      <img src="../../../assets/images/studentlife4.jpg" alt="arts">
      <h3>Music and Arts</h3>
      <p> Playing musical instruments and doing arts are a way to grow and demonstrate the creativeness and potential in our students. <br>
        We have classes in piano, komuz, and vocal singing. Art is also a way to express yourself, we do competitions and exhibitions of the best paintings.</p>
    </div>
  </div>
</section>
