<section class="campus">
  <h1>{{ 'campus-title' | translate }}</h1>
  <p>{{ 'campus-subtitle' | translate }}
  </p>

  <div class="row">
    <div class="campus-col">
      <img src="../../../assets/images/campus1.jpg" alt="dorms">
      <div class="layer">
        <h3>{{ 'campus-dorms' | translate }}</h3>
      </div>
    </div>
    <div class="campus-col">
      <img src="../../../assets/images/campus2.jpg" alt="dining-hall">
      <div class="layer">
        <h3>{{ 'campus-dining-hall' | translate }}</h3>
      </div>
    </div>
    <div class="campus-col">
      <img src="../../../assets/images/campus-school.jpg" alt="school">
      <div class="layer">
        <h3> {{ 'campus-school' | translate }}</h3>
      </div>
    </div>
  </div>
</section>
