<section class="campus">
  <h1>Our Campus</h1>
  <p>Our campus is located in the most beautiful part of our country, on the shore of Issyk-Kul lake.
    The newly constructed school is equipped with the latest technology and facilities. Dormitories, dining-hall,
    conference-hall, medical center, and a grocery store are all located in the walking distance from the school.
  </p>

  <div class="row">
    <div class="campus-col">
      <img src="../../../assets/images/campus1.jpg" alt="dorms">
      <div class="layer">
        <h3>DORMS</h3>
      </div>
    </div>
    <div class="campus-col">
      <img src="../../../assets/images/campus2.jpg" alt="dining-hall">
      <div class="layer">
        <h3>DINING HALL</h3>
      </div>
    </div>
    <div class="campus-col">
      <img src="../../../assets/images/campus-school.jpg" alt="school">
      <div class="layer">
        <h3>THE SCHOOL</h3>
      </div>
    </div>
  </div>
</section>
