<section class="campus">
  <h1>Our Campus</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. tempore temporibus ullam ut.</p>

  <div class="row">
    <div class="campus-col">
      <img src="../../../assets/eduford_img/banner.png" alt="london">
      <div class="layer">
        <h3>LONDON</h3>
      </div>
    </div>
    <div class="campus-col">
      <img src="../../../assets/eduford_img/newyork.png" alt="newyork">
      <div class="layer">
        <h3>NEW YORK</h3>
      </div>
    </div>
    <div class="campus-col">
      <img src="../../../assets/eduford_img/washington.png" alt="washington">
      <div class="layer">
        <h3>WASHINGTON</h3>
      </div>
    </div>
  </div>
</section>
