<section class="testimonials">
  <h1>{{ 'testimonials-title' | translate }}</h1>
  <p>{{ 'testimonials-subtitle' | translate }}
  </p>
  <div class="row">
    <div class="testimonial-col">
      <img src="../../../assets/images/student1.jpg" alt="student1">
      <div>
        <p>{{ 'testimonials-student1-text' | translate }}</p>
        <h3>{{ 'testimonials-student1-title' | translate }}</h3>
        <fa-icon [icon]="faStar"></fa-icon>
        <fa-icon [icon]="faStar"></fa-icon>
        <fa-icon [icon]="faStar"></fa-icon>
        <fa-icon [icon]="faStar"></fa-icon>
        <fa-icon [icon]="faStarHalf"></fa-icon>
      </div>
    </div>
    <div class="testimonial-col">
      <img src="../../../assets/images/student2.jpg" alt="student2">
      <div>
        <p>{{ 'testimonials-student2-text' | translate }}
        </p>
        <h3>{{ 'testimonials-student2-title' | translate}}</h3>
        <fa-icon [icon]="faStar"></fa-icon>
        <fa-icon [icon]="faStar"></fa-icon>
        <fa-icon [icon]="faStar"></fa-icon>
        <fa-icon [icon]="faStar"></fa-icon>
        <fa-icon [icon]="faStar"></fa-icon>
      </div>
    </div>
  </div>
</section>
