<section class="testimonials">
  <h1>What Our Students Say</h1>
  <p>There’s no better indicator of how we’re doing than from our students themselves, and they’re very happy to let us know.
  </p>
  <div class="row">
    <div class="testimonial-col">
      <img src="../../../assets/images/student1.jpg" alt="student1">
      <div>
        <p>Here, I became fully independent and grew as an individual. In spring  2022, I participated in
          regional english olympiads and received the 5th place, which gave me the confidence and motivation
          to study harder.</p>
        <h3>Elima Muratbekova</h3>
        <fa-icon [icon]="faStar"></fa-icon>
        <fa-icon [icon]="faStar"></fa-icon>
        <fa-icon [icon]="faStar"></fa-icon>
        <fa-icon [icon]="faStar"></fa-icon>
        <fa-icon [icon]="faStarHalf"></fa-icon>
      </div>
    </div>
    <div class="testimonial-col">
      <img src="../../../assets/images/student2.jpg" alt="student2">
      <div>
        <p>I love the school because it gave me life-long friendships. I truly enjoy the academic environment
          to which we fully dive in to study subjects I am interested in. Here, I learnt to code that will
          totally benefit me in my career.
        </p>
        <h3>Akylai Sokinova</h3>
        <fa-icon [icon]="faStar"></fa-icon>
        <fa-icon [icon]="faStar"></fa-icon>
        <fa-icon [icon]="faStar"></fa-icon>
        <fa-icon [icon]="faStar"></fa-icon>
        <fa-icon [icon]="faStar"></fa-icon>
      </div>
    </div>
  </div>
</section>
