<section class="testimonials">
  <h1>What Our Students Say</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. tempore temporibus ullam ut.</p>
  <div class="row">
    <div class="testimonial-col">
      <img src="../../../assets/images/student1.jpg" alt="student1">
      <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
        <h3>Aidana Kanybekova</h3>
        <fa-icon [icon]="faStar"></fa-icon>
        <fa-icon [icon]="faStar"></fa-icon>
        <fa-icon [icon]="faStar"></fa-icon>
        <fa-icon [icon]="faStar"></fa-icon>
        <fa-icon [icon]="faStarHalf"></fa-icon>
      </div>
    </div>
    <div class="testimonial-col">
      <img src="../../../assets/images/student2.jpg" alt="student2">
      <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
        <h3>Bermet Kanybekova</h3>
        <fa-icon [icon]="faStar"></fa-icon>
        <fa-icon [icon]="faStar"></fa-icon>
        <fa-icon [icon]="faStar"></fa-icon>
        <fa-icon [icon]="faStar"></fa-icon>
        <fa-icon [icon]="faStar"></fa-icon>
      </div>
    </div>
  </div>
</section>
