/* You can add global styles to this file, and also import other style files */
*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

h1{
  font-size: 36px;
  font-weight: 600;
}

p{
  color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

.hero-btn{
  display: inline-block;
  text-decoration: none;
  color:#ffffff;
  border: 1px solid #ffffff;
  padding: 12px 30px;
  font-size: 13px;
  position: relative;
  cursor: pointer;
}

.hero-btn:hover {
  border: 1px solid #fff;
  background: #fff;
  color: #000;
}

@media(max-width: 700px) {
  .row{
    flex-direction: column;
  }
}


